![image.png](GRC-logo_digital-green.png)

# Welcome to Python programming class 
# Objective 2

## Installing Anaconda Python
Anaconda download: https://www.anaconda.com/download/ <br>
When you install: <br>
Download and install Anaconda Python 
>    •	Select for all users <br>
      •	Complete the install <br>

After the installation is complete, open Jupyter <br>
>    •	Open Jupyter notebook from Anaconda <br> 
>    •	Create a new notebook <br>
>    •	Create new cells in the notebook <br>
>    •	Delete cells in the notebook <br>
>    •	Execute cells in the notebook <br>
>    •	Create markup cells

## Install and import libraries
In Python, you import libraries using the import statement

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In the cell below, we can do a quick check to see if Pandas imported without any problems by createing a simple series. 
For now, do not worry if you do not fully understand the syntax. We will go through this in more detail in the future

In [31]:
# Pandas will be discussed further in later lectures 
# Here we will create a pandas series as a first glimpse into future lectures
s = pd.Series([1,3,5,np.nan,6,8])

In [32]:
# by running the cell with the variable s, you can see that it contains the single column we created above
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [33]:
# here is an example of taking two Pandas Series objects and creating a data frame with two columns

d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),\
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

In [34]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

## Extra credit
### example of key words and their use

In [35]:
# using the keyword: "is" to compare values 
a = 10 
a is 10

True

In [36]:
b = True
b is True

True

In [37]:
c = False
c is True

False

In [38]:
d = 1
d is 10

False

In [39]:
dct = {'a':[1,2,3],'b':[1,2,3]}

In [40]:
dct

{'a': [1, 2, 3], 'b': [1, 2, 3]}

In [41]:
dct2 = {1,'a',2,3}

In [42]:
dct2

{1, 2, 3, 'a'}

In [43]:
shortdict = {'a','b'}

Here is a link to a list of Python keywords: <br>
https://www.w3schools.com/python/python_ref_keywords.asp