# Welcome to the Python programming class
## Lecture 2

## Installing Anaconda Python
•	Select for all users
•	Complete the install

a.	Download and install Anaconda Python
•	Select for all users
•	Complete the install
b.	Open Jupyter
•	Open Jupyter notebook from Anaconda 
•	Create a new notebook
•	Create new cells in the notebook
•	Delete cells in the notebook
•	Execute cells in the notebook
•	Create markup cells

## Open Jupyter
•	Open Jupyter notebook from Anaconda 
•	Create a new notebook
•	Create new cells in the notebook
•	Delete cells in the notebook
•	Execute cells in the notebook
•	Create markup cells

## Install and import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Pandas will be discussed further in later lectures 
# Here we will create a pandas series as a first glimpse into future lectures
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),\
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

In [5]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0