![image.png](GRC-logo_digital-green.png)

# Welcome to Python programming class 
# Objective 1

The markdown above looks like this:
![image.png](GRC-logo_digital-green.png)

# Welcome to Python programming class 
# Objective 1

## History 
Python was created by Guido van Rossum in 1991, and is an interpreted language that follows the read, evaluate, print, and loop, REPL paradigm (Python, n.d.) It is a widely used programming language, and affords the programmer higher productivity for string manipulation and dictionary searches than CPP and Java (Python, n.d.)

## Common uses 
### Python is often used for: 
Web development: Examples are Django and Flask. Django is a full web development framework, whereas Flask is a lightweight framework.  
Network and system management. 
Data Science: Numerical Python, Numpy, Panel Data, Pandas, Science

## Resources for homework
Python tutorial: https://www.w3schools.com/python/default.asp
Anaconda download: https://www.anaconda.com/download/

To effectively learn Python, it is important that you know the following:
1. It will require effort
2. You will become frustrated
3. You will experience knowledge collapses. This concept will be discussed in class
4. If you keep at it, you will learn it. You learn it by doing, thinking, and reflecting.
5. To effectively learn, you need to test yourself often. A good way is to write code and see if it runs
6. Google and Stackoverflow should be your goto sources when you are stuck or experiencing problems. It is a good chance that others have experienced the same problem you have. 
7. It can help your learning if you pair up with a learning buddy. You can then hold each other accountable for learning objectives you decide on, test each other, and making sure you do your homework.

# A pound or sharp sign is a comment in Python. This is raw text in a Jupyter notebook, and will not change when it is 
# executed. There are three types of cells, code, markdown, and raw. This is a raw cell. 
'''
Three single qoutes are used for a multiline comment
'''

In [11]:
# A pound or sharp sign is a comment in Python. This is NOT raw text in a Jupyter notebook, and will change when it is 
# executed. 
'''
Three single qoutes are used for a multiline comment
'''

'\nThree single qoutes are used for a multiline comment\n'

"""
So is three double quotes. It is for the most part a personal preference as to use single quote or double quote.
There are some caveats when embedding SQL code into Python code, and you might see double quotes around an SQL 
statement, and single quotes inside so that quoutes can be passed to the SQL statement. Sometimes you might see back tics 
too
"""

In [12]:
"""
So is three double quotes. It is for the most part a personal preference as to use single quote or double quote.
There are some caveats when embedding SQL code into Python code, and you might see double quotes around an SQL 
statement, and single quotes inside so that quoutes can be passed to the SQL statement. Sometimes you might see back tics 
too
"""

'\nSo is three double quotes. It is for the most part a personal preference as to use single quote or double quote.\nThere are some caveats when embedding SQL code into Python code, and you might see double quotes around an SQL \nstatement, and single quotes inside so that quoutes can be passed to the SQL statement. Sometimes you might see back tics \ntoo\n'

In [3]:
# Except for when you need to wrap a quote

" I'm going to use a single quote inside a double quote"

" I'm going to use a single quote inside a double quote"

In [4]:
' you can also use excape \''

" you can also use excape '"

In [5]:
# First we will start with a print statement
print('Hello and Welcome to the Python Class!')

Hello and Welcome to the Python Class!

## Python’s Data Types
•	Integers 
•	Floating Point
•	Complex Numbers
•	Strings
•	Boolean Type
•	Math 
•	Type Conversion
•	Iterators 
•	Composite Data Type
•	Variables
•	Function
•	Classes
•	Input

In [13]:
# Samples of variables with different types assigned to them
a = 1 # integer
b = 1.1 # float
c = 1j #complex number
d = 'Hello World' #string
e = True #Boolean true
f = False #Boolean false
g = sum([.1,.1,.1]) # for a full listing, see https://docs.python.org/3/library/math.html
h = hex(a) # type conversion from integer to hexadecimal string

In [7]:
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(a)
print('a = '+ str(a) +' an integer')
print(type(a))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(b)
print('b = '+ str(b) +' a float')
print(type(b))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(c)
print('c = '+ str(c) +' a complex number')
print(type(c))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(d)
print('d = '+ d +' a string')
print(type(d))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(e)
print('e = '+ str(e) +' a Boolean')
print(type(e))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(f)
print('f = '+ str(f) +' a Boolean')
print(type(f))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(g)
print('g = '+ str(g) +' a sum')
print(type(g))
print('but wait, that is a float')
print(type(sum))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(h)
print('h = '+ str(h) +' a hexadecimal value ')
print(type(h))
print('but wait, that is a string')
print(type(hex))
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
1
a = 1 an integer
<class 'int'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
1.1
b = 1.1 a float
<class 'float'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
1j
c = 1j a complex number
<class 'complex'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Hello World
d = Hello World a string
<class 'str'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
True
e = True a Boolean
<class 'bool'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
False
f = False a Boolean
<class 'bool'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
0.30000000000000004
g = 0.30000000000000004 a sum
<class 'float'>
but wait, that is a float
<class 'builtin_function_or_method'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
0x1
h = 0x1 a hexadecimal value
<class 'str'>
but wait, that is a string
<class 'builtin_function_or_method'>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [8]:
lst = []
lst = [a,b,c,d,e,f,g,h]
ltr = '+'
for i in lst:
    print(str(ltr*10) + '\n' + str(i) + ' : ' + str(type(i)) + '\n' + str(ltr*10)+ '\n')

++++++++++
1 : <class 'int'>
++++++++++

++++++++++
1.1 : <class 'float'>
++++++++++

++++++++++
1j : <class 'complex'>
++++++++++

++++++++++
Hello World : <class 'str'>
++++++++++

++++++++++
True : <class 'bool'>
++++++++++

++++++++++
False : <class 'bool'>
++++++++++

++++++++++
0.30000000000000004 : <class 'float'>
++++++++++

++++++++++
0x1 : <class 'str'>
++++++++++

In [9]:
ltr = '+'
ltr*10

'++++++++++'

In [10]:
#iterator
tup_fruit = ("pineapple", "tomato", "orange")
iter_tup = iter(tup_fruit)

In [11]:
print(next(iter_tup))
print(next(iter_tup))
print(next(iter_tup))

pineapple
tomato
orange

In [12]:
for fruit in tup_fruit:
    print(fruit)

pineapple
tomato
orange

## Function
Here is a simple function that multiplies two numbers in a cell. In the cell below, we call the function and recive the output

In [13]:
# function
def multiplier(x,y):
    z = (x*y)
    return z

In [14]:
multiplier(2,3)

6

## Classes
Here is a simple class which allows an object to be created. (Python is object oriented if you want it to be)

In [15]:
#Classes are the blueprint for objects
class class_x:
    x = 7

In [16]:
object1 = class_x()
print(object1.x)

7

In [17]:
print(object1)

<__main__.class_x object at 0x00000152E621BAC8>

In [18]:
class Student():
    ''' Creates student objects'''
    def __init__(self, f_name, l_name):
        self.first = f_name
        self.last = l_name
        self.fullname = self.first + ' ' + self.last
    def email(self):
        return '{}.{}@greenriver.edu'.format(self.first, self.last)

In [19]:
student = Student('Bob','Hansen')

In [20]:
print('First name:\t',student.first)
print('Last name:\t',student.last)
print('Full name:\t',student.fullname)
print('Email:\t\t',student.email())

First name:	 Bob
Last name:	 Hansen
Full name:	 Bob Hansen
Email:		 Bob.Hansen@greenriver.edu

## Input from the user

In [ ]:
you = input()

In [ ]:
print(you)

## Data structures
### Lists

In [ ]:
# List
# first create an empty list
lst1 = []
# then fill it
lst = [1,2,3,4,5,6,7]

### Dictionaries

In [ ]:
# Dictionaries
dct1 = {}
dct1 = {1,2,3,4,5}

Tuples

In [ ]:
Tup1 = (1,2,3,4,5)

### Sets

In [ ]:
set1 = {'house', 'car', 'garage'}
for s in set1:
    print(s)
# note: Sets are unordered, so the order items will appear is random.

### Strings
For information of formatting strings, see: https://pyformat.info/
String formatting allows you to pass variables into strings

In [ ]:
string1 = 'Hello Class, Welcome to Python'

Strings are ordered lists, and are indexable:
Character:      h  e  l  l  o
Index:          0  1  2  3  4
Reverse Index: -5 -4 -3 -2 -1
It can be sliced using []
[start:stop:step]
Remeber that Python is zero ordered (starts at zero). R starts at 1

In [ ]:
string1[0]

In [ ]:
string1[-5]

In [ ]:
string1[1:4:2]

In [ ]:
string1[::2]

In [ ]:
string1[::-1]

In [ ]:
# Use TAB complete by typing a period after the variable and then using the TAB key
string1.upper()

In [ ]:
print('Hello{}'.format(' you'))

In [ ]:
# New in Python 3.6 is the 
name = 'Bob'
print(f'Hello {name}')

##	Control Flow Statements
•	if
•	elif
•	for
•	range
•	break/continue
•	else
•	pass

### While

In [ ]:
x = 1
while x < 5:
    print(x)
    x+=1

### if and elif

In [ ]:
y = 0
while y < 5:
    if y%2 == 0:
        print(str(y), ' is even')
    elif y%2 != 0:
        print(str(y), ' is odd')
    y+=1

### Range

In [ ]:
z = range(5)
for i in z:
    print(i)

### Break

In [ ]:
n = 0
for n in range(10):
    n = n + 1

    if n == 6:
        break    # break will cause the loop to break here

    print('Number is ' + str(n))

print('Broke out of loop')

### if elif and else

In [ ]:
x = int(input("Please enter an integer: "))

In [ ]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('One')
else:
    print('More than one')

### pass

In [ ]:
for c in 'Green River College': 
    if c == 'C':
        pass
        print('This is the pass code block')
    print('Current Character :', c)
print("Bye!")

## Describe Data Operations
#### •	Manipulate list
#### •	Create, Append, Delete
#### •	Manipulate strings
#### •	Create a list from a string
#### •	Manipulate dictionary
#### •	Create, Append, Delete

In [ ]:
lst_lst = []
lst_lst = ['bob', 'joe','amy',1,2,3]

In [ ]:
print(lst_lst)

In [ ]:
lst_lst.append('chef')

In [ ]:
print(lst_lst)

In [ ]:
lst_lst.remove('bob')

In [ ]:
print(lst_lst)

Dictionaries have both a key and value

In [ ]:
# Dictionary consisting of strings and integers
dict_word_freq = {
    "Answer": 42,
    "Movie" : 23 ,
    "Space" : 24,
    "Oldie" : 10
    }

In [ ]:
print(dict_word_freq)

In [ ]:
# delete by key
del dict_word_freq['Oldie']

In [ ]:
print(dict_word_freq)

In [ ]:
# Deleting an entry from the dictionary using pop()     
 
# If a key is present in the dictionary, pop() will delete its entry and return its value    
result = dict_word_freq.pop('Space', None)    
 
print("Deleted item's value = ", result)
print("Updated Dictionary :" , dict_word_freq)

In [ ]:
# To add a new key value pair
dict_word_freq.update(Space = 42)

In [ ]:
print(dict_word_freq)

In [ ]:
#updating a dictionary with items from a list of tuples
dict_word_freq.update([ ('who', 5), ('when', 5), ('where', 4) , ('what' , 20), ('why', 6)] )
print(dict_word_freq)

## Strings
Splitting strings is a common pattern along with regular expressions. You may find a json file with lists inside of a dictionary, and find yourself needing to parse through the list.

In [ ]:
string1.split()

In [ ]:
string1.split()

In [ ]:
type(string1.split())

##	Describe Python Modules
#### •	Discuss conda versus pip
#### •	How to use built in modules
#### •	How to install modules
#### •	Discuss Pandas and Numpy

Conda comes with preloaded libraries specifically tailored for data science. Pip has a significantly larger number of libraries, so if you cannot find the package you need when you type in conda install  <package name>, you can go to pip and use the command pip install <package name>. 

1. To install libraries, go to the start button and type in cmd. Right click and select run as Administrator.
2. On the command propmt type: conda install scikit-learn
3. If the package/library/module does not exist in the conda repository type the following on the command promt:
4. pip install python-docx

The package python-docx allows you to create and manipulate word documents. This comes in handy when you generate automated reports or create manual operating procedures, MOPs. 

A module is a file consisting of Python code. A module can define functions, classes and variables. A module can also include runnable code.

To import the Pandas and Numpy module use the following syntax
import pandas as pd
import numpy as np

## Pandas
Pandas is a software library written for the Python programming language for data manipulation and analysis that provides data structures and operations for manipulating data frames consisting of numerical tables and time series (Pandas, n.d) 

Pandas will be discussed more extensively in later lectures

References
Pandas (software). (n.d.). In Wikipedia. Retrieved November 17, 2018 from https://en.wikipedia.org/wiki/Pandas_(software)
Python (programming language). (n.d.). In Wikipedia. Retrieved November 15, 2018 from https://en.wikipedia.org/wiki/Python_(programming_language)

Ⓒ2018 Green River College. All rights reserved.