![image.png](GRC-logo_digital-green.png)

# Welcome to Python programming class 
# Objective 3

## How to define and use lists, dictionaries and functions in a Python script

1. Lists can hold different object types and is in an ordered sequence
2. Lists use brackets, [] to hold the objects that are separated with commas
3. For example: ['dog', 'cat',1,2,3,5.5, 6.567]
4. Lists support slicing and indexing
5. You can have lists of lists
6. You can also have lists of dictionaries. Conversely, dictionaries can also contain lists

## Manipulate lists

In [1]:
# first we create a list and set it to be empty
lst = []
# then we fill the list with items. In this case a set of integers
lst = [1,2,3,3,2,4,3,5,3,4,2,1]

In [2]:
print(lst)

[1, 2, 3, 3, 2, 4, 3, 5, 3, 4, 2, 1]

In [3]:
len(lst)

12

## Manipulate dictionaries

Dictionaries have both a key and value

In [4]:
# Dictionaries
dct1 = {}
dct1 = {1,2,3,4,5}

In [5]:
# Dictionary consisting of strings and integers
dict_word_freq = {
    "Answer": 42,
    "Movie" : 23 ,
    "Space" : 24,
    "Oldie" : 10
    }

In [6]:
print(dict_word_freq)

{'Answer': 42, 'Movie': 23, 'Space': 24, 'Oldie': 10}

In [7]:
# delete by key
del dict_word_freq['Oldie']

In [8]:
# Deleting an entry from the dictionary using pop()     
 
# If a key is present in the dictionary, pop() will delete its entry and return its value    
result = dict_word_freq.pop('Space', None)    
 
print("Deleted item's value = ", result)
print("Updated Dictionary :" , dict_word_freq)

Deleted item's value =  24
Updated Dictionary : {'Answer': 42, 'Movie': 23}

In [9]:
# To add a new key value pair
dict_word_freq.update(Space = 42)
print(dict_word_freq)

{'Answer': 42, 'Movie': 23, 'Space': 42}

In [10]:
#updating a dictionary with items from a list of tuples
dict_word_freq.update([ ('who', 5), ('when', 5), ('where', 4) , ('what' , 20), ('why', 6)] )
print(dict_word_freq)

{'Answer': 42, 'Movie': 23, 'Space': 42, 'who': 5, 'when': 5, 'where': 4, 'what': 20, 'why': 6}

## Create functions to simplify and reuse code

In [11]:
for integer in lst:
    print(integer)

1
2
3
3
2
4
3
5
3
4
2
1

## Function
Here is a simple function that multiplies two numbers in a cell. In the cell below, we call the function and recive the output

In [12]:
# function
def multiplier(x,y):
    z = (x*y)
    return z

In [13]:
multiplier(2,3)

6

## Create a script that loads data from a csv into a list
•	Write the file read code
•	Have the code read each item into the list
•	Print the first 5 elements of the list
For more information see here: https://docs.python.org/3.4/library/csv.html

### Reading an existing csv file

In [14]:
import csv

with open('C:\\Users\\jopedal1\\Documents\\countries.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for lines in csv_reader:
        print(lines)

['Country_Abbr', ' Country_name', ' Region_ID', '']
['AR', 'Argentina', '2', '']
['AU', 'Australia', '3', '']
['BE', 'Belgium', '1', '']
['BR', 'Brazil', '2', '']
['CA', 'Canada', '2', '']
['CH', 'Switzerland', '1', '']
['CN', 'China', '3']

### Creating a list and writing it to a csv file

In [15]:
lst_students = []
# creating a list of lists
lst_students = [['f_name', 'l_name', 'subject'],
                ['Bob', 'Hansen', 'Python'],
                ['Amy', 'Swenson', 'Python'],
                ['Eve', 'Cruz', 'Java']]

In [16]:
lst_students.append(['George', 'Black', 'Basic']) # We pass a list as we are appending a list to the list of lists

In [17]:
print(lst_students)

[['f_name', 'l_name', 'subject'], ['Bob', 'Hansen', 'Python'], ['Amy', 'Swenson', 'Python'], ['Eve', 'Cruz', 'Java'], ['George', 'Black', 'Basic']]

In [18]:
with open('test.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lst_students)

In [19]:
#Import pandas and check the CSV file
import pandas as pd
pd.read_csv('test.csv')

   f_name   l_name subject
0     Bob   Hansen  Python
1     Amy  Swenson  Python
2     Eve     Cruz    Java
3  George    Black   Basic

In [20]:
lst_students.remove(['Bob', 'Hansen', 'Python'])
print(lst_students)

[['f_name', 'l_name', 'subject'], ['Amy', 'Swenson', 'Python'], ['Eve', 'Cruz', 'Java'], ['George', 'Black', 'Basic']]

In [21]:
del(lst_students[1])
print(lst_students)

[['f_name', 'l_name', 'subject'], ['Eve', 'Cruz', 'Java'], ['George', 'Black', 'Basic']]

### Creating a dictionary and writing it to a csv file

In [22]:
dct = {}
dct = {'Key1': 'Value1','Key2': 'Value2', 'Key3': 'Value3',}

In [23]:
# write dictionary to csv
with open('dictionary.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in dct.items():
        writer.writerow([key, value])

In [24]:
# check the content of the csv
pd.read_csv('dictionary.csv')

   Key1  Value1
0  Key2  Value2
1  Key3  Value3